#blob {
    background: linear-gradient(to right,
            #0055a9,
            #052d9d);
    height: 200px;
    aspect-ratio: 1.5;
    position: absolute;
    z-index: -10;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    animation: rotate 20s infinite;
    filter: blur(50px);
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

.logo {
    font-weight: 700;
    font-size: 24px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100dvw;
    padding: 20px 5vw;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    transition: 0.5s;
}

.navbar-back {
    background-color: black;
}

.nav-links-box {
    width: 100dvw;
    backdrop-filter: blur(20px);
    position: fixed;
    bottom: 0;
    top: 0;
    right: -100dvw;
    transition: 0.5s;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 5vw;
}

.nav-links-box {
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.nav-links-box>a {
    margin-bottom: 25px;
}

.menu-bar {
    display: none;
}

.nav-links>a {
    margin-left: 40px;
    font-weight: 400;
    font-size: 16px;
    transition: 0.5s;
    opacity: 0.8;
}

.nav-links a.first {
    margin-left: 0;
}

.nav-links>a:hover {
    opacity: 1;
    letter-spacing: 3px;
}


.my-name,
.my-name-mobile {
    color: #0080FE;
    font-weight: 700;
    font-size: 24px;
    text-shadow: 0px 0px 30px rgba(0, 128, 254, 0.5);
    text-align: right;
}

.my-name-mobile {
    display: none;
    text-align: center;
}

.my-name>span,
.my-name-mobile>span {
    font-weight: 400;
}

.footer-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5vw;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.profession {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
}

.location {
    font-size: 16px;
}

.location>span {
    text-shadow: 0px 0px 15px rgba(0, 128, 254, 0.5);
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.contacts-box {
    display: grid;
    place-items: center;
    height: 100dvh;
    font-size: 32px;
    font-weight: 700;
}

.contacts-box>div {
    color: white;
    display: grid;
    place-items: center;
}

.contacts-box>div span {
    color: rgb(190, 190, 190);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
}

.title {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
}

.part-box,
.about-box {
    width: 40vw;
    margin-bottom: 50px;
}

.part-box p,
.about-box p {
    line-height: 150%;
    margin-bottom: 10px;
}

.skills-box {
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
    grid-auto-flow: column;
    align-items: center;
    margin-bottom: 50px;
}

.skills-box>div {
    font-weight: 500;
    transition: 0.5s;
}

.skills-box>div:hover {
    color: #0080FE;
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    justify-content: space-between;
    row-gap: 50px;
}

.project-card {
    cursor: pointer;
    width: 40vw;
}

.project-info {}

.project-title {
    font-weight: 700;
    font-size: 24px;
    margin-top: 10px;
}

.project-description {
    color: rgb(177, 177, 177);
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.project-preview {
    width: 40vw;
    aspect-ratio: 16/9;
    object-fit: cover;
    position: relative;
    overflow: hidden;
}

.project-preview img {
    transition: all 0.5s ease;
    position: absolute;
    top: 0;
    bottom: 0;
}

.project-preview:hover img {
    -webkit-transform: scale(1.25);
}


@media screen and (max-width: 680px) {

    .my-name,
    .nav-links,
    .social-links,
    #blob,
    .location {
        display: none;
    }

    .menu-bar,
    .my-name-mobile {
        display: block;
    }

    .footer-main {
        justify-content: center;
        padding-bottom: 50px;
    }

    .footer-main>.info-box {
        text-align: center;
    }

    .profession {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 500;
    }

    .about-box {
        width: 90vw;
    }

    .skills-box {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        grid-template-rows: repeat(2, 1fr);
        grid-auto-flow: row;
        row-gap: 15px;
    }

    .projects-list {
        grid-template-columns: 90vw;
    }

    .project-preview,
    .project-card {
        width: 90vw;
    }
}