#blob {
    background: linear-gradient(to right,
            #0055a9,
            #052d9d);
    height: 200px;
    aspect-ratio: 1.5;
    position: absolute;
    z-index: -10;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    animation: rotate 20s infinite;
    filter: blur(50px);
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

.logo {
    font-weight: 700;
    font-size: 24px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100dvw;
    padding: 20px 5vw;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

.menu-bar {
    display: none;
}

.nav-links>a {
    margin-left: 40px;
    font-weight: 400;
    font-size: 16px;
    transition: 0.5s;
    opacity: 0.8;
}

.nav-links a.first {
    margin-left: 0;
}

.nav-links>a:hover {
    opacity: 1;
    letter-spacing: 3px;
}


.my-name {
    color: #0080FE;
    font-weight: 700;
    font-size: 28px;
    text-shadow: 0px 0px 30px rgba(0, 128, 254, 0.5);
    text-align: right;
}

.my-name>span {
    font-weight: 400;
}

.footer-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5vw;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.profession {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
}

.location {
    font-size: 16px;
}

.location>span {
    text-shadow: 0px 0px 15px rgba(0, 128, 254, 0.5);
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.contacts-box {
    display: grid;
    place-content: center;
    height: 100dvh;
    font-size: 32px;
    font-weight: 700;
}

.contacts-box>div {
    color: black;
    transition: 0.5s;
}

.contacts-box>div:hover {
    color: white;
}

@media screen and (max-width: 479px) {
    .my-name,
    .nav-links, 
    .social-links {
        display: none;
    }

    .menu-bar {
        display: block;
    }

    .footer-main {
        justify-content: center;
        padding-bottom: 50px;
    }

    .footer-main > .info-box {
        text-align: center;
    }

}