@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Arial, sans-serif;
  color: white;
}

body {
  background-color: black;
  overflow: hidden;
  overflow-y: scroll;
  width: 100dvw;
  height: 100dvh;
  max-height: 100dvh;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

a:active {
  color: white;
}

a:focus {
  color: white;
}

span {
  color: #0080FE;
  font-weight: 600;
}

.section-box {
  width: dvw;
  min-height: 100dvh;
  padding: 120px 5vw;
}

p {
  color: rgb(177, 177, 177);
}

@media screen and (max-width: 680px) {
  body {
    overflow-y: scroll;
  }
}